<div class="row">
    <div class="container">
        <div class="jumbotron">
            <h1><i class="fa fa-lock"></i> Node Users</h1>
            <p>
                A user authentication app for use with other projects.
            </p>
            <p>
                Uses NodeJs, Express, Handlebars, and Sequelize.
            </p>
            <p>
                GitHub: <a href="https://github.com/DanOrlovsky/node-user">https://github.com/DanOrlovsky/node-user</a>
            </p>
        </div>
    </div>
</div>